%header#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{data: {slide: {to: 0}, target: "#myCarousel"}}
    %li{data: {slide: {to: 1}, target: "#myCarousel"}}
    %li{data: {slide: {to: 2}, target: "#myCarousel"}}
    %li{data: {slide: {to: 3}, target: "#myCarousel"}}
    %li{data: {slide: {to: 4}, target: "#myCarousel"}}
  .carousel-inner
    .item.active
      .fill{style: "background-image:url('#{image_url('dolphin.jpg')}');"}
    .item
      .fill{style: "background-image:url('#{image_url('fire.jpg')}');"}
    .item
      .fill{style: "background-image:url('#{image_url('waterfall.jpg')}');"}
    .item
      .fill{style: "background-image:url('#{image_url('heli.jpg')}');"}
    .item
      .fill{style: "background-image:url('#{image_url('snorkel.jpg')}');"}
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.icon-next
